@font-face{
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

nav{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: blanchedalmond;
    height: 100vh;
    overflow: hidden;
}

.social-media{
    display: flex;
    flex: 2;
    width: 100%;
    justify-content: space-evenly;
}

.contact-square{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.contact-square:hover{
    background-color: black;
    color: white;
    transition-duration: 500ms;
}

.nav-links{
    margin: 20px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-links li{
    list-style-type: none;
}

.nav-text{
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-text p{
    text-align: center;
}



#navbar h3 {
    text-align: center;
}


main{
    height: 100vh;
    background-color: gold;
    flex: 8;
    overflow-y: scroll;
    overflow-x: hidden;
}

#welcome-section{
    height: 100vh;

}

.hero{
    height: 100%;
    color: white;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 50px;
    transform: translate(-50%, -70%);
    color: white;
    z-index: 3;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.5;
    top: 0;
}