@font-face{
    font-family: Poppins;
    src: url(../Poppins-Regular.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

nav{
    color: #4582ec;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #e9ecef;
    overflow: hidden;
    z-index: 4;
}


.social-media{
    border-top: 1px solid #4582ec;
    padding-top: 20px;
    display: flex;
    flex: 2;
    width: 100%;
    justify-content: space-evenly;
}

.contact-square{
    color: #4582ec;
    border: 1px solid #4582ec;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.contact-square:hover{
    background-color: #4582ec;
    color: white;
    transition-duration: 500ms;
}

.nav-links{
    flex: 1;
    display: flex;
    justify-content: center;
}


.link{
    padding: 20px;
    color: #4582ec;
    text-decoration: none;
    font-size: large;
}

main{
    background-color: white;
    flex: 8;
    overflow-x: hidden;
}

#welcome-section{
    height: 100vh;

}

.hero{
    height: 75vh;
    color: white;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 50px;
    transform: translate(-50%, -70%);
    color: white;
    z-index: 3;
}

.secondary-headline{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 30px;
    transform: translate(-50%, -70%);
    color: white;
    z-index: 3;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.5;
    top: 0;
}

.content-divider{
    display: flex;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-color: #02b875
}

.content-divider h1{
    color: white;
    font-size: 34px;
}

#projects{
    display: flex;
    margin: 30px 0px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.project-tile{
    width: 350px;
    height: 350px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-tile img {
    width: 100%;
    height: auto;
}

.project-tile p{
    text-align: center;
    font-size: small;
}
